html {
  height: 100%;
}
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}
::-webkit-input-placeholder {
  color: white;
}
@media (min-width: 1050px) {
  #NavigationBar input {
    width: 30%;
  }
}
@media (max-width: 1050px) {
  #NavigationBar input {
    width: 60%;
  }
}
#NavigationBar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #43A047;
  height: 64px;
}
#NavigationBar img {
  position: absolute;
  top: 50%;
  height: 48px;
  margin-left: 10px;
  margin-top: -24px;
  z-index: 200;
}
#NavigationBar input {
  position: absolute;
  left: 0px;
  line-height: 64px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 100px;
  z-index: 100;
  border: 0px;
  box-sizing: border-box;
  background-color: #43A047;
  border-right: 8px solid #43A047;
  color: white;
  font-size: 18px;
  box-shadow: none;
  -webkit-transition: background-color 0.2s ease-in-out;
}
#NavigationBar input:focus {
  outline: none;
  border: 0px;
  box-shadow: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  background-color: white;
  border-right: 8px solid #43A047;
  color: black;
}
.dimmed {
  opacity: 0.6;
}
#ResourceList {
  padding: 0px;
  margin: 0px;
}
.ResourceRow:hover {
  background-color: #f5f5f5;
}
.ResourceRow:hover .Controls {
  background-color: #f5f5f5;
}
.ResourceRow .Controls.Expand {
  right: 10px;
  -webkit-transition: right 0.2s ease-in-out;
  backround-color: inherit;
}
.ResourceRow {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: white;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  overflow: hidden;
  line-height: 22px;
  font-size: 16px;
}
.ResourceRow .Controls {
  position: absolute;
  top: 50%;
  margin-top: -27px;
  height: 57px;
  line-height: 57px;
  right: -294px;
  background-color: white;
  -webkit-transition: right 0.2s ease-in-out;
  padding-left: 10px;
}
.ResourceRow .Controls i {
  line-height: 57px;
  height: 57px;
  font-size: 24px;
  width: 26px;
  text-align: center;
  opacity: 1.0;
  margin: 0px 8px;
}
.ResourceRow .Controls i:hover {
  color: #43A047 !important;
  opacity: 1.0;
}
.ResourceRow .Controls i.inactive-control {
  opacity: .2 !important;
}
.ResourceRow .Controls i.inactive-control:hover {
  color: inherit;
}
.toolbar {
  position: absolute;
  right: 0;
  padding: 0px;
  margin: 0px;
  line-height: 64px;
  height: 64px;
}
.toolbar li,
.toolbar a {
  text-decoration: none;
  display: inline;
  font-size: 24px;
  display: inline-block;
  height: 64px;
  line-height: 64px;
  cursor: pointer;
}
.toolbar a {
  padding: 0px 16px;
}
.toolbar li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.toolbarbutton {
  color: darkgreen;
}
.toolbarbutton.active {
  color: white;
}
.filtering-favorites .unfavorited {
  display: none;
}
.filtered,
.archived {
  display: none;
}
.collapsible-body {
  line-height: 0;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
	not supported by any browser */
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/Material-Icons.woff2) format('woff2');
}
#ArchimedesContent {
  background-image: url("/images/archimedes_background.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
}
#newresource {
  padding: 20px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.Buttons {
  margin: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.Fields {
  margin: 20px 0px;
}
.Fields > div {
  font-size: 22px;
}
.Fields > div i {
  margin: 5px;
}
.Fields > div label {
  display: inline-block;
  text-align: right;
  width: 30%;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Fields > div input[type=text] {
  width: 50%;
  line-height: 32px;
}
.Fields > div input[type=checkbox] {
  width: 22px;
  height: 22px;
}
.Fields > div input {
  margin-left: 20px;
  display: inline-block;
}
.button {
  background-color: #43A047;
  display: inline-block;
  padding: 1em 2em;
  margin: 0px 1em;
  line-height: 22px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}
.button:hover {
  background-color: #4ab04e;
}
@media (min-width: 1050px) {
  #Archimedes {
    width: 30%;
    display: inline-block;
    position: fixed;
    top: 64px;
    left: 0px;
    height: calc(100% - 64px);
  }
  #ArchimedesContent {
    display: inline-block;
    position: fixed;
    top: 64px;
    right: 0px;
    background-color: white;
    bottom: 0px;
    width: 70%;
    height: calc(100% - 64px);
  }
}
@media (max-width: 1050px) {
  #Archimedes {
    width: 100%;
    position: fixed;
    top: 64px;
    left: 0px;
    right: 0px;
    height: 200px;
    border-bottom: 8px solid #43A047;
  }
  #ArchimedesContent {
    position: fixed;
    top: 272px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #93d296;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #43A047;
}
/* label focus color */
input:focus + label {
  color: green !important;
}
input {
  border: 0px;
  border-bottom: 1px solid #ccc;
}
/* label underline focus color */
input:focus {
  border-bottom: 1px solid #43A047;
  outline: none;
}
